@tailwind base;
@tailwind components;
@tailwind utilities; /* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    @apply font-montserrat font-light min-h-screen text-white;
    background: rgb(31, 130, 129);
    background: linear-gradient(
      180deg,
      rgba(31, 130, 129, 1) 0%,
      rgba(11, 201, 196, 1) 100%
    );
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-4xl;
  }

  input {
    @apply border border-gray-300 py-3 px-6 min-w-[350px] text-sm border-none rounded-full focus:outline-none text-slate-900;
  }
}

@layer components {
  .container {
    @apply max-w-screen-sm mx-auto py-8;
  }
}
